[Unit]
Description=Change color of LED string on Dell G5
After=network-online.target

[Service]
User=ccoupe
ExecStart=/usr/local/lib/g5stripe/turnoff.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
